body{
    background: #EFEFBB;  
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB); 
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
}

ul#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 3rem;
    background: #EFEFBB;  
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB); 
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}


ul#nav li.normal {
    margin: 0 .5rem;
    list-style: none;
}

 li#li_profile {
   list-style: none;
   margin-left: auto;
   margin-right: 2rem;
}


ul#nav li, ul#nav li a  {
    color: white;
    font-size: 1.2rem;
    text-shadow: 0 0 4px black;
    text-decoration:none;
    transition: font-size .3s; 
}

ul#nav li a.brand {
	font-family: 'Rubik 80s Fade', cursive;
	font-size: 22px;
	letter-spacing: -2px;
	padding:0 .4rem ;
	margin-bottom: 1rem;
	list-style:none;
}

i {
    margin-left: .1rem;
}

ul#nav li:hover, ul li a:hover {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

section#logout-btn-prof {
    margin: 8.5rem auto;
    text-align:center;
    width: 80%;
    max-width: 80%;
    padding: 2rem 7rem;
    color: white;
    background: #808080;
    box-shadow: 0 0 1rem black;
}

section#logout-btn-prof h1 {
    text-shadow: 0 0 2px black;
}

section#logout-btn-prof button[type="submit"] {
    border-radius: 40px;
}

form#cpf {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}