
ul#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 3rem;
    background: #EFEFBB;  
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB); 
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}


ul#nav li.normal {
    margin: 0 .5rem;
    list-style: none;
}

 li#li_profile {
   list-style: none;
   margin-left: auto;
   margin-right: 2rem;
}


ul#nav li, ul#nav li a  {
    color: white;
    font-size: 1.2rem;
    text-shadow: 0 0 4px black;
    text-decoration:none;
    transition: font-size .3s; 
}

ul#nav li a.brand {
	font-family: 'Rubik 80s Fade', cursive;
	font-size: 22px;
	letter-spacing: -2px;
	padding:0 .4rem ;
	margin-bottom: 1rem;
	list-style:none;
}

i {
    margin-left: .1rem;
}

ul#nav li:hover, ul li a:hover {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

 /* .idx-img {
    position: relative;
    width: 100%;
	height:100vh;
} */

#upon-img {
	color:white;
	width:100%;
	position: absolute;
	top: 40%; 
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
}

#upon-img h1 {
	font-family: 'Rubik 80s Fade', cursive;
	font-size: 72px;
	text-decoration: underline;
	box-shadow: 1rem .6rem .8rem black;
	letter-spacing: -2px;
	padding:0 .4rem ;
	margin-bottom: 1rem;
}

#upon-img h5 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-shadow: 0 0 4px white;
}

#parallax {
	margin-top: 3rem;
}

section.one, section.three, section.five {
	width:100vw;
	height: 100vh;
	text-align: center;
	padding: 40px 4%;
	font-family: Roboto;
	color: rgb(20,20,20);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
} 

section h1 {
	margin-bottom: 20px;
}

section:nth-of-type(1) {
	background-image: url("../capstone/img/parking2.jpg");
	background-size: 100vw;
	height: 100vh;
	background-size: cover;
	position: relative;

}


#link-topo {
    position: fixed;
    right:3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
	background: #ffb347;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.6rem #00000009;
    transition: all .7s;
    z-index:98;
}

#link-topo:hover {
	bottom: 4rem;
	list-style:none;
	text-transform: none;
	text-decoration: none;
}

#mainpg {
	padding-top: 3rem;
}

#mainpg h1 {
	color: black;
	text-align: center;
	text-shadow: 0 0 4px white;
}
#all-parkings ul li.parking {
	list-style: none;
	background: white;
	box-shadow: 0 0 1.2rem black;
	margin: 1.5rem  auto;
	transform: translateX(-2rem);
	width: 55%;
	height: 9vw; 
	border-radius: 20px;
	position: relative;
	transition: all .3s;
}

#all-parkings ul li.parking:hover {
	width: 57.5%;

}

.parking .col-8 {
	padding: 1rem;
}


li.parking img.parking-img {
	width:100%;
	height: 9vw; 
	border-radius:20px 0 0 20px;
}

a#ali {
	text-decoration: none;
	text-transform: none;
	color: black;
}

div#mainpg {
	height: 100vh;
	background: #EFEFBB;  
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB); 
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); 
}

form#filter {
	margin:1rem auto;
	width: 70%;
	text-align: center;
	/* display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center; */
}

form#filter select {
	margin-bottom: 0;
}

form#filter .btn {
	margin-top: 0;
}

@media (max-width: 500px){
#all-parkings ul li.parking {
	width: 80%;
	height: 40%;
	border-radius: 3px;
}

#all-parkings ul li.parking:hover {
	width: 90%;
	height: 40%;
	border-radius: 3px;
}


#all-parkings ul li.parking img {
	height: 100%;
	border-radius: 3px 0 0 3px;
}

#all-parkings ul li.parking h5 {
	font-size: 17px;
}
#allparkings {
	margin-bottom: 0;
}

}

@media (min-width: 501px) and (max-width: 650px) {
	#all-parkings ul li.parking {
		width: 80%;
		height: 40%;
		border-radius: 3px;
	}
	
	#all-parkings ul li.parking:hover {
		width: 90%;
		height: 40%;
		border-radius: 3px;
	}
	
	
	#all-parkings ul li.parking img {
		height: 100%;
		border-radius: 3px 0 0 3px;
	}
	
	#all-parkings ul li.parking h5 {
		font-size: 17px;
	}
	#allparkings {
		margin-bottom: 0;
	}
}

@media (min-width: 651px) and (max-width: 850px) {
	#all-parkings ul li.parking {
		width: 70%;
		height: 30%;
		border-radius: 3px;
	}
	
	#all-parkings ul li.parking:hover {
		width: 75%;
		height: 30%;
		border-radius: 3px;
	}
	
	
	#all-parkings ul li.parking img {
		height: 100%;
		border-radius: 3px 0 0 3px;
	}
	
	#all-parkings ul li.parking h5 {
		font-size: 17px;
	}

	#allparkings {
		margin-bottom: 0;
	}
}

@media (min-width: 851px) and (max-width: 1000px) {
	#all-parkings ul li.parking {
		width: 60%;
		height: 20%;
		border-radius: 10px;
	}
	
	#all-parkings ul li.parking:hover {
		width: 63%;
		height: 20%;
		border-radius: 10px;
	}
	
	
	#all-parkings ul li.parking img {
		height: 100%;
		border-radius: 10px 0 0 10px;
	}
	
	#all-parkings ul li.parking h5 {
		font-size: 17px;
	}

	#allparkings {
		margin-bottom: 0;
	}
}

@media (min-width: 1001px) and (max-width: 1130px) {
	#all-parkings ul li.parking {
		width: 55%;
		height: 15%;
		border-radius: 10px;
	}
	
	#all-parkings ul li.parking:hover {
		width: 58%;
		height: 15%;
		border-radius: 10px;
	}
	
	
	#all-parkings ul li.parking img {
		height: 100%;
		border-radius: 10px 0 0 10px;
	}
	
	#all-parkings ul li.parking h5 {
		font-size: 17px;
	}

	#allparkings {
		margin-bottom: 0;
	}
}