{% extends "capstone/layout.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/capstone/index.css">
{% endblock %}

{% block script1 %}
{% endblock  %}

{% block body %}
  <nav>
      <ul id="nav">
        {% if user.is_staff == False %}
        <li class="normal">
          <a href="{% url 'index' %}" class="brand ss">Find parking</a>
        </li>
        {% endif %}
        {% if user.is_staff == True %}
        <li class="normal">
          <a href="{% url 'createParking' %}" class="ss">Create parking</a>
        </li>
        {% endif %}
        <li class="normal">|</li>
        <li class="normal">
            <a href="{% url 'allParkings' %}" class="ss">All Parkings <i class="fas fa-car"></i> </a>
          </li>
          {% if user.is_authenticated %}
          <li id="li_profile">
            <a href="{% url 'profile' %}">{{user.username}}<i class="fas fa-user"></i> </a>
          </li>
          {% else %}
          <li id="li_profile">
            <a href="{% url 'login' %}">login <i class="fas fa-user"></i> </a>
          </li>
          {% endif %}
      </ul>
  </nav>

<div id="parallax">
    <section id="first" class="one idx-img"></section>
    <div id="upon-img">
      <h1>Find Parking</h1>
      <h5>When you don't know where to park</h5>
      <div class="row">
        {% if user.is_authenticated %}
        <div class="col-12">
           <a class="btn btn-warning mt-2 " href="{% url 'allParkings' %}">Get Started </a>
        {% else %}
        </div>
        <div class="col-12 text-center">
      <a class="btn btn-warning mt-2 " href="{% url 'login' %}">login <i class="fas fa-user"></i> </a>
        </div>
        {% endif %}
      </div> 
    </div>
 </div>   
{% endblock %}