{% extends "capstone/layout.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/capstone/login.css">
 <title>Find Parking | Login</title>
{% endblock %}

{% block script1 %}
{% endblock %}

{% block body %}
<nav class="container">
  <ul id="nav">
    <li class="normal">
      <a href="{% url 'index' %}" class="brand">Find Parking</a>
    </li>
    <li class="normal">|</li>
    <li class="normal">
      <a href="{% url 'allParkings' %}" class="ss">All parkings <i class="fas fa-car"></i> </a>
    </li>
  </ul>
</nav>

    <div id="container" class="container">
      <div class="row m-0">
        <!-- div of the form -->
        <div id="page-form" class="col-lg-6 col-md-12 d-inline p-0">
          <div class="container">
            <div>
            <h2 id="login-h2" class="">Login</h2>
            <p id="login-p" class="ml-3">Don't have an account? <a href="{% url 'register' %}">Create an account</a>, it takes less than a minute.</p>
            </div>
            <div>
              <div>
                    <div class="username">
                      <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
                      <input id="campo" type="text" name="username" placeholder="U s e r n a m e" class=" ml-3 form-control" />               
                        <i class="fas fa-user user-icon1 text-secondary"></i>
                      <input id="campo2" type="password" name="password" placeholder="P a s s w o r d" class="ml-3 form-control mt-3">                    
                        <i class="user-icon2 fas fa-lock text-secondary"></i>
                        <button type="submit" id="login_button" class="btn btn-secondary ml-3 mt-4">LOGIN</button>
                        {% if message %}
                       <br> {{ message }}
                        {% endif %}
                      </form>
                    </div>              
              </div>            
            </div>       
              
          </div>
        </div>
        <div id="page-img" class="col-lg-6 col-md-0 d-inline p-0">
          <img id="parking_img" class="d-none d-lg-block" src="../../static/capstone/img/parking.jpg">
          <div id="upon-img">
          <h1>Find Parking</h1>
          <h5>When you don't know where to park</h5>
         </div>
        </div>
      </div>
    </div>
    


   {% endblock %}

   {% block script2 %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

   {% endblock %}