{% extends "capstone/layout.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/capstone/parking.css">
{% endblock %}

{% block script1 %}
{% endblock  %}

{% block body %}
  <nav>
      <ul id="nav">
        {% if user.is_staff == False %}
        <li class="normal">
          <a href="{% url 'index' %}" class="brand ss">Find parking</a>
        </li>
        {% endif %}
        {% if user.is_staff == True %}
        <li class="normal">
          <a href="{% url 'createParking' %}" class="ss">Create parking</a>
        </li>
        {% endif %}
        <li class="normal">|</li>
        <li class="normal">
            <a href="{% url 'allParkings' %}" class="ss">All Parkings <i class="fas fa-car"></i> </a>
          </li>
          {% if user.is_authenticated %}
          <li id="li_profile">
            <a href="{% url 'profile' %}">{{ user.username }}<i class="fas fa-user"></i> </a>
          </li>
          {% else %}
          <li id="li_profile">
            <a href="{% url 'login' %}">login <i class="fas fa-user"></i> </a>
          </li>
          {% endif %}
      </ul>
  </nav>

  <div id="title"><h1>{{parking.title}}</h1> <small>creator: {{parking.creator}}</small></div>
  <section id="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.2339235689556!2d-34.847163585722406!3d-7.098863871569232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7acdd6df40f5401%3A0xbdb630ecc698116e!2sManaira%20Shopping!5e0!3m2!1spt-BR!2sbr!4v1671294737524!5m2!1spt-BR!2sbr" style="border:0; width: 98vw; height: 75vh;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
  <hr>
  <section id="slots">
    <div class="row">
      <div class="col-12" id="slots-div">
        <h3>Slots</h3>
        <div id="slotsbox" class="slot row">
          <div class="col-6 slot-part">
          <h6>Free</h6>
          {% for slot in free_slots %}
          <a href="#slots"> 
            <div id="slot" class="slot slot-free">
              <span id="forloop.counter">{{ forloop.counter }}</span>
            </div>
          </a>
         
          {% endfor %}
        </div>
        <div class="col-6 slot-part">
          <h6>Ocupied</h6>
          {% for s in ocupied_slots %}
          <div id="slot" class="slot slot-ocupied">
            <span id="forloop.counter">{{ s }}</span>
          </div>
          {% endfor %}
        </div>
        </div>
      </div>
      <div id="hidden" class="col-12 text-center" style="display: none;">
        <form id="park-form" action="">
          {% csrf_token %}
          <input type="hidden" name="parkingid" value="{{ parking.id }}">

            <select class="form-control" name="category" id="cat" value="category">
              <optgroup label="Choose the category of the vehicle">
                <option style="display: none;">Category</option>
                <option value="car">Car</option>
                <option value="motorcycle">Motorcycle</option>
              </optgroup>
            </select>
          
          <input type="text" name="placa" class="form-control" placeholder="Enter the License Plate">
          <button class="btn btn-warning form-control">Park</button>
        </form>
      </div> 
    </div>
  </section>

  {% if user.username == parking.creator %}
                <form action="{% url 'deleteParking' parking_id=parking.id %}" style="text-align:center;">
                <button type="submit" style="width:50%; transform:translateY(-2rem); border-radius:20px;" class="btn btn-danger">Delete Parking Lot</button>
                </form>
  {% endif %}

  <a href="#title" id="link-topo">
    <i class="fas fa-arrow-up"></i>
  </a>
</div>
    
{% endblock %}

{% block script2 %}
<script>
  const slot = document.querySelectorAll('.slot-free');
  const hidden = document.querySelector('#hidden');
  console.log(slot)
  console.log(hidden)
  for(let s in slot) {
    slot[s].addEventListener('click', () => {
    hidden.style.display = 'block';
  })
  }
</script>
{% endblock  %}