{% extends "capstone/layout.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/capstone/parking.css">
{% endblock %}

{% block script1 %}
{% endblock  %}

{% block body %}
  <nav>
      <ul id="nav">
        {% if user.is_staff == False %}
        <li class="normal">
          <a href="{% url 'index' %}" class="brand ss">Find parking</a>
        </li>
        {% endif %}
        {% if user.is_staff == True %}
        <li class="normal">
          <a href="{% url 'createParking' %}" class="ss">Create parking</a>
        </li>
        {% endif %}
        <li class="normal">|</li>
        <li class="normal">
            <a href="{% url 'allParkings' %}" class="ss">All Parkings <i class="fas fa-car"></i> </a>
          </li>
          {% if user.is_authenticated %}
          <li id="li_profile">
            <a href="{% url 'profile' %}">{{ user.username }}<i class="fas fa-user"></i> </a>
          </li>
          {% else %}

          <li id="li_profile">
            <a href="{% url 'login' %}">login <i class="fas fa-user"></i> </a>
          </li>
          {% endif %}
      </ul>
  </nav>

  <div id="title"><h1>{{parking.title}}</h1> <small>creator: {{parking.creator}}</small></div>
  <input type="hidden" id="ed" value="{{parking.address}}">
  <section id="map">
    
  </section>
  <div class="d-flex align-items-center justify-content-center border mt-1" style="width: 40%; margin: 0 auto;">
    <button id="maps-btn" class="btn btn-secondary form-control">Get directions</button>
  </div>
  <hr>
  <section id="slots">
    <div class="row">
      <div class="col-12" id="slots-div">
        <h3>Slots</h3>
        <div id="slotsbox" class="slot row">
          <div class="col-6 slot-part">
          <h6>Free</h6>
          {% for slot in free_slots %} 
           <a href="#slots"> 
             
            
               <div id="slot" class="slot slot-free">
                 <span id="forloop.counter">{{ forloop.counter }}</span>
               </div>
        
            </a>
         
          {% endfor %}
        </div>
        <div class="col-6 slot-part">
          <h6>Ocupied</h6>
          {% for s in ocupied_slots %}
          <div id="slot" class="slot slot-ocupied">
            <span id="forloop.counter">{{ s }}</span>
          </div>
          {% endfor %}
        </div>
        </div>
      </div>
      {% if message %}
        <div class="container text-center mt-3">
          {{message}} <br>
          <form action="{% url 'parking' parking_id=whereParkedID %}">
          <button id="message-hidden" class="btn btn-warning mt-2">See where you are parked</button>
          </form>
        </div>
  
      {% endif %}
      <div id="hidden" class="col-12 text-center mt-3" style="display: none;">
        <form id="park-form" action="{% url 'park' %}" method="POST">
        {% csrf_token %}
          <input id="parking-id" type="hidden" name="parkingid" value="{{ parking.id }}">

            <select class="form-control" name="category" id="cat" value="category">
              {% if parking.category == 'both' %}
              <optgroup label="Choose the category of the vehicle">
                <option style="display: none;">Category</option>
                <option value="car">Car</option>
                <option value="motorcycle">Motorcycle</option>
              </optgroup>
              {% elif parking.category == 'car' %}     
                <option value="car">Car</option>
              {% elif parking.category == 'motorcycle' %}
               <option value="motorcycle">Motorcycle</option>
              {% endif %}
            </select>
          
          <input id="licensePlate" type="text" name="placa" class="form-control" placeholder="Enter the License Plate">
          <button id="park-button" class="btn btn-warning form-control">Park</button>
        </form>
      </div> 

  
      {% if is_parked_anywhere %}
        {% if is_parked %}
      <div id="hidden_ocupied" class="col-12 text-center mt-3" style="display: block;">
        <form id="park-form" action="{% url 'unpark' %}" method="POST">
        {% csrf_token %}
          <input type="hidden" id="is_parked" value="yes">
          <input id="parking-id" type="hidden" name="parkingid" value="{{ parking.id }}">
          <h6>You are parked here, unpark  when you want!</h6>
          <button id="park-button" class="btn btn-danger form-control">Unpark</button>
        </form>
      </div>
      {% else %}
      <div id="hidden_ocupied" class="col-12 text-center mt-3" style="display: none;">
        <form id="park-form" action="{% url 'parking' parking_id=whereParkedID%}" method="POST">
        {% csrf_token %}
          <input type="hidden" id="is_parked" value="yes">
          <input id="parking-id" type="hidden" name="parkingid" value="{{ parking.id }}">
          <h6>You are already parked in other parking, you can only park one vehicle at a time</h6>
          <button id="park-button" class="btn btn-warning form-control">See where you are parked</button>
        </form>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </section>
  {% if user.username == parking.creator %}
                <form action="{% url 'deleteParking' parking_id=parking.id %}" style="text-align:center;">
                <button type="submit" style="width:50%; margin: 1.5rem 0; border-radius:20px;" class="btn btn-danger">Delete Parking Lot</button>
                <!-- <button type="submit" style="width:50%; transform:translateY(-2rem); border-radius:20px;" class="btn btn-danger">Delete Parking Lot</button> -->
                </form>
  {% endif %}

  <a href="#title" id="link-topo">
    <i class="fas fa-arrow-up"></i>
  </a>
</div>
    
{% endblock %}

{% block script2 %}
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAffOdeZ2vqhjlTJQSEvxPepE2_n-H8uII&callback=initMap">
</script>

<!-- <script>
  document.getElementById('park-button').addEventListener('click', {

  })  

    // PARK LOGIC
   // fetch post to make the park already happens in the backend
   function Park() {

   }
   // get the response
   // remove the one div in free slots
   // add one div in ocupied_slots
</script> -->

<script>
  // Initialize and add the map
function initMap() {
  const directionsService = new google.maps.DirectionsService();
  const directionsRenderer = new google.maps.DirectionsRenderer()
  // const location = { lat: -7.1550488, lng:  -34.8072549 }; 
  const location = { lat:  -7.11532, lng: -34.861 }; 
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 14,
    center: location,
  });

  const geocoder = new google.maps.Geocoder();
  var position_of_the_destiny = document.getElementById('ed').value
  geocoder
  .geocode({address: position_of_the_destiny, region: 'BR'})
  .then((response) => {
    const destiny_position = response.results[0].geometry.location;
    let marker = new google.maps.Marker({
    position: destiny_position,
    map,
    title: "Hello World!",
  });
  })


  directionsRenderer.setMap(map);

  const onChangeHandler = function () {
    calculateAndDisplayRoute(directionsService, directionsRenderer);
  };
  onChangeHandler()

  map.addListener("zoom_changed", () => {
    window.setTimeout(() => {
      map.setZoom(13);
    }, 15000);
  });
  }

function calculateAndDisplayRoute(directionsService, directionsRenderer) {
function success(pos) {
  const crd = pos.coords;

  console.log('Your current position is:');
  console.log(`Latitude : ${crd.latitude}`);
  console.log(`Longitude: ${crd.longitude}`);
  console.log(`More or less ${crd.accuracy} meters.`);
  var position_of_the_user =  crd.latitude + ', ' + crd.longitude
  var position_of_the_destiny = document.getElementById('ed').value
  
  directionsService
  .route({
    origin: {
        query: position_of_the_user
        // query: 'Condomínio Bougainville, João Pessoa - PB'
    },
    destination: {
       query: position_of_the_destiny
    },
    travelMode: google.maps.TravelMode.DRIVING,
  })
  .then((response) => {
    directionsRenderer.setDirections(response);
  })
  .catch((e) => window.alert("Directions request failed due to " + e)); 
}

const position_check = navigator.geolocation.getCurrentPosition(success);
 
}

window.initMap = initMap;

</script>

<script>
  document.getElementById('maps-btn').addEventListener('click', () => {
    var daddr = window.location.search.slice(1);
    var position_of_the_destiny = document.getElementById('ed').value
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(data){
      if (data.coords) {
        window.open(`https://maps.google.fr/maps?saddr=${data.coords.latitude},${data.coords.longitude}&daddr=${daddr}/${position_of_the_destiny}`, '_blank') 
      }
    });
  }
  })
</script>

<script>
  const slot = document.querySelectorAll('.slot-free');
  const hidden = document.querySelector('#hidden');
  console.log(slot);
  console.log(hidden)
  for(let s in slot) {
    slot[s].addEventListener('click', () => {  
        if (document.querySelector('#hidden_ocupied')) {
          document.querySelector('#hidden_ocupied').style.display = 'block';
        }
        else {
        hidden.style.display = 'block';
        }
      })}; 
</script>
{% endblock  %}